// General

html, body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $ralewayStack;
  background: linear-gradient(rgba(80, 80, 82, 0.7), rgba(80, 80, 82, 0.7)), url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 0.4px;
  font-family: $ralewayStack;
  color: $textColor;
}

p {
  font-family: $ralewayStack;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: $textColor;
}

a:hover, a:focus, a:active, a.active {
  color: $selectColor;
}

a, a:hover, a:focus, a:active, a.active {
  outline: 0;
}

::selection {
  text-shadow: none;
  background: $selectColor;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 25px 0 40px;
}

// Reset bootstrap

.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px;
}

.col-0-gutter {
  padding-left: 0;
  padding-right: 0;
}
