// Navigation
// No SASS nested selectors on this section due to the variety and complexity of the descendant selectors and pseudo classes

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: $navBGColor;
  border-color: transparent
}

.navbar-default .navbar-brand {
  color: $textColor;
  padding: 5px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
  color: $textColor;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
  background-color: #000;
  border-color: $pureWhite;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $pureWhite;
}

.navbar-default .navbar-toggle:hover, .navbar-default {
  background-color: $navBGColor;
}

.navbar-default .nav li a {
  font-family: "Roboto", Sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  color: $textColor;
  border-bottom: 1px solid;
  border-color: $textColor;
  margin: 10px 15px;
  padding: 0 0 2px 0;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  color: rgb(188, 186, 191);
  border-color: $textColor;
  outline: 0;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: $textColor;
  background-color: $selectColor;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 40px 0 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0
  }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    padding: 0;
  }

  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px
  }

  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 4px;
  }
}