// SASS Variables

$selectColor: #fed136; // color for back to top button and highlighting
$textColor: rgb(250, 249, 255); // color for main text
$navBGColor: rgba(80, 80, 82, 0.9); // color for nav background
$pureWhite: #fff; // pure white for nav hovers etc.
$ralewayStack: 'Raleway', Sans-serif, sans-serif; // font stack for main texts


// SASS partials to compile to CSS

@import "navStyles";
@import "general";
@import "sections";
@import "portfolio";
@import "formFooter";
@import "modalsComponents";





