@import url(https://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
.navbar-brand {
  font-family: 'Pacifico', cursive; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: rgba(80, 80, 82, 0.9);
  border-color: transparent; }

.navbar-default .navbar-brand {
  color: #faf9ff;
  padding: 10px; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
  color: #faf9ff; }

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02); }

.navbar-default .navbar-toggle {
  background-color: #000;
  border-color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:hover, .navbar-default {
  background-color: rgba(80, 80, 82, 0.9); }

.navbar-default .nav li a {
  font-family: "Roboto", Sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #faf9ff;
  border-bottom: 1px solid;
  border-color: #faf9ff;
  margin: 10px 15px;
  padding: 0 0 2px 0; }

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  color: #bcbabf;
  border-color: #faf9ff;
  outline: 0; }

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #faf9ff;
  background-color: #fed136; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 40px 0 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0; }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    padding: 0; }

  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px; }

  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0; }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 4px; } }
html, body {
  overflow-x: hidden; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", Sans-serif, sans-serif;
  background: linear-gradient(rgba(80, 80, 82, 0.7), rgba(80, 80, 82, 0.7)), url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 0.4px;
  font-family: "Raleway", Sans-serif, sans-serif;
  color: #faf9ff; }

p {
  font-family: "Raleway", Sans-serif, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #faf9ff; }

::selection {
  text-shadow: none;
  background: #fed136; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }
section {
  padding: 25px 0 40px; }

.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px; }

.col-0-gutter {
  padding-left: 0;
  padding-right: 0; }

.section-title {
  padding-bottom: 30px; }
  .section-title h2 {
    font-size: 45px;
    text-transform: uppercase; }
  .section-title p {
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin: 25px 10px 30px 10px; }

.c-module {
  padding-top: 0; }

.c-module .section-title {
  padding: 40px 0; }

@media (max-width: 568px) {
  .bio:before,
  .folio:before,
  .inspiration:before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 185px;
    visibility: hidden; } }
.intro-section {
  padding: 60px 0 0 0;
  margin: 0; }
  .intro-section .section-title {
    text-align: justify; }
  .intro-section p {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 500;
    line-height: 32px;
    padding: 47px;
    font-family: "Raleway", Sans-serif, sans-serif;
    margin: 0;
    background-color: #F9F9F9; }

.intro {
  width: 100%;
  height: 700px;
  background: black url(../img/cindyHead.jpg) no-repeat center center scroll;
  position: relative; }
  .intro .text-center {
    position: absolute;
    bottom: 0; }

.c-intro-container {
  padding: 10px 50px 25px 50px; }

.mob-intro-container {
  display: none; }

@media (max-width: 568px) {
  .c-intro-container {
    display: none; }

  .mob-text-center {
    position: absolute;
    top: 20px; }

  .mob-intro-container {
    display: block; } }
.bio {
  width: 100%; }

.c-about-container {
  padding: 0 20px 25px 20px; }

.c-module-about {
  padding: 20px; }
  .c-module-about h3 {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px; }
  .c-module-about p {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #9C9C9C; }

.c-about-default {
  background-color: #252525; }

.c-about-dark {
  background-color: #2B2B2B; }

.img-place {
  max-width: 100%;
  margin: 0 auto;
  background-color: black; }

.ot-portfolio-item {
  padding: 7px; }
  .ot-portfolio-item figure {
    position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer; }
    .ot-portfolio-item figure figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .ot-portfolio-item figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

figure.effect-border {
  background: #000;
  margin-bottom: 1px; }

figure.effect-border img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.5s; }

figure.effect-border:hover img {
  opacity: 0.4; }

figure.effect-border figcaption::before,
figure.effect-border figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-border figcaption::before {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-border figcaption::after {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-border h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-top: 30%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

figure.effect-border p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-border:hover figcaption::before,
figure.effect-border:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-border:hover h2,
figure.effect-border:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#inspiration {
  background-color: black; }

.insp-item {
  text-align: center;
  background-color: #F5F5F5;
  color: #848484;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }
  .insp-item h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 30px 0 20px;
    text-transform: uppercase;
    color: #101010; }
  .insp-item p {
    font-size: 13px;
    font-weight: 500;
    color: #848484;
    padding: 18px 30px 35px 30px;
    line-height: 24px; }

.insp-img {
  width: 100%; }

form {
  width: 60%;
  margin: 15px auto; }

.form-control {
  font-size: 16px; }

.form-group {
  margin-bottom: 25px; }
  .form-group input, .form-group textarea {
    padding: 15px;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    font-size: 13px; }

#thanks {
  height: 1000px;
  width: 100%;
  text-align: center;
  font-size: 3rem; }

footer {
  padding: 30px;
  background-color: #000; }
  footer p, footer a {
    color: #B7B7B7;
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.6px; }

a:visited, a:link {
  color: #B7B7B7;
  text-decoration: none; }
a:hover {
  color: #fed136;
  text-decoration: none; }

.footer-container {
  padding: 10px 0; }

.copy, .links {
  padding: 5px 0; }

.links {
  text-align: center; }

.social {
  text-align: left; }
  .social a img {
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: all 0.4s ease-in-out; }
  .social a img:hover {
    transform: scale(1.5) rotate(30deg); }

@media only screen and (max-width: 812px) {
  .social, .links {
    text-align: center; } }
.modal-content {
  border-radius: 0; }

.modal-header .close {
  font-size: 30px; }

.modal-title {
  text-transform: uppercase;
  font-size: 23px;
  color: black; }

.modal-body {
  padding: 0; }
  .modal-body p {
    margin: 30px 20px;
    color: #2D2D2D; }

.modal-works {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin: 25px 20px; }
  .modal-works span {
    background-color: darkgray;
    margin-right: 15px;
    padding: 5px 10px; }

.btn {
  background-color: #fff;
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn:hover, .btn:focus, .btn:active {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136; }

#back-top {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px; }
  #back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #A9A9B1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; }
  #back-top a:hover {
    background: #fed136; }
  #back-top i {
    margin-top: 15px;
    font-size: 28px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #back-top {
    position: fixed;
    bottom: 10px;
    right: 30px; }
    #back-top a {
      width: 40px;
      height: 40px; }
    #back-top i {
      margin-top: 7px;
      font-size: 20px; } }

/*# sourceMappingURL=output.css.map */
